body
{
	height: 100vh;
	background: linear-gradient($jetti-lightest-grey, $jetti-lightest-grey);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, span
{
	font-family: $jetti-font-other;
}

/*
header.contain-to-grid
{
	background: $jetti-orange;


	.top-bar
	{
		background-color: $jetti-orange;
	}

	.top-bar-section li
	{
		background: $jetti-orange;

		&:hover
		{
			background: $jetti-orange-darker;
		}
	}

	.jetti-logo-main
	{
		font-family: $jetti-font-main;
	}
}
*/

.full-page-header
{
	background-color: $jetti-orange;
	height: 100vh;
	padding-top: 25vh;

	.small-main-logo
	{
		font-family: $jetti-font-main;
		font-size: 25vw;
		line-height: 28vw;
		color: $jetti-white;
		margin: 0;
		padding: 0;
	}

	.tag-line
	{
		font-weight: 300;
		color: $jetti-white;
	}

	.advance
	{
		display: block;
		margin-top: 12vh;
		color: $jetti-white;
	}
}

main
{
	.hero-banner
	{
		background-color: $jetti-orange-darker;

		h1
		{
			color: $jetti-white;
			font-size: 7vw;
			line-height: 8vw;
			font-weight: 700;
			font-style: italic;
		}
	}

	.pages
	{
		height: 96vh;
		padding: 0;

		h2
		{
			font-size: 7vw;
			line-height: 7vw;
			font-weight: 700;
		}

		ul
		{
			font-size: 4vw;
		}
	}

	
}

footer
{
	background-color: pink;
}