
$jetti-orange: #FF5722;
$jetti-orange-darker: #E64A19;

$jetti-white: #fff;
$jetti-black: #222;
$jetti-dark-grey: #333;
$jetti-light-grey: #666;
$jetti-lighter-grey: #ccc;
$jetti-lightest-grey: #eee;

body
{
	height: 100vh;
	background: linear-gradient($jetti-lightest-grey, $jetti-lightest-grey);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, span
{
	font-family: $jetti-font-other;
}

/*
header.contain-to-grid
{
	background: $jetti-orange;


	.top-bar
	{
		background-color: $jetti-orange;
	}

	.top-bar-section li
	{
		background: $jetti-orange;

		&:hover
		{
			background: $jetti-orange-darker;
		}
	}

	.jetti-logo-main
	{
		font-family: $jetti-font-main;
	}
}
*/

/* buttons */
button
{
	color: $jetti-white;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 5vw;
}

/* SVG */

svg
{
	transition: padding-top 0.25s ease;
	padding-top: 0em;

	.polygon-1
	{
		fill: $jetti-orange + 175;
	}
	.polygon-2
	{
		fill: $jetti-orange - 25;
	}
	.polygon-3
	{
		fill: $jetti-orange - 45;
	}

	&:hover
	{	
		transition: padding-top 0.5s ease;
		padding-top: .2em;
	}

}


.full-page-header
{
	background: url(../img/background1.png) no-repeat center center fixed; 
	background-color: $jetti-orange - 50;
	/*
	background-blend-mode: soft-light;
	*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	

	height: 100vh;
	padding-top: 15vh;

	.small-main-logo
	{
		font-family: $jetti-font-main;
		font-size: 35vw;
		line-height: 37vw;
		color: $jetti-orange;
		margin: 0;
		padding: 0;
		text-shadow: 2px 2px 0 $jetti-white,

		-1px -1px 0 #fff,  
	    1px -1px 0 #fff,
	   -1px  1px 0 #fff,
	    1px  1px 0 #fff;
	   
	  
	}

	.tag-line, .secondary-tag-line
	{
		
		color: $jetti-white;
		display: block;
	}

	.tag-line
	{
		font-weight: 400;
		font-size: 8vw;
		line-height: 9vw;
		padding-top: 4vh;
	}

	.secondary-tag-line
	{
		font-weight: 300;
		font-size: 6vw;
		line-height: 6.5vw;
	}

	.advance
	{
		display: block;
		margin-top: 7vh;
	}

	
}

main
{
	.pages
	{

		padding: 0;
		padding-bottom: 4vw;

		.icon-image
		{
			margin-bottom: 2vh;
		}

		h1
		{
			font-size: 7vw;
			line-height: 9vw;
			font-weight: 300;
			color: $jetti-orange;
			font-style: italic;
		}

		h2
		{
			font-size: 6vw;
			line-height: 6.5vw;
			font-weight: 600;
			font-style: italic;
			color: $jetti-orange;
			padding-bottom: 3vw;
		}

		h3
		{
			font-size: 5vw;
			line-height: 6vw;
			font-weight: 500;
			font-style: italic;
			color: $jetti-font-other - 200;
			padding-bottom: 0vw;
			margin-bottom: 0;
		}

		p
		{

			font-size: 5vw;
			line-height: 6vw;
			font-weight: 300;
			display: inline-block;
			color: $jetti-light-grey;
		}

		.accent
		{
			font-weight: 900;
			font-style: italic;
			color: $jetti-orange;
		}
	}


	.secondpage
	{
		background-color: $jetti-white;

		.bulletPoint
		{
			padding-top: 2vh;
		}

		h2
		{
			color:$jetti-orange;
		}
		h3
		{
			color: $jetti-dark-grey;
		}
		p
		{
			color:$jetti-light-grey;
		}
	}

	.thirdPage
	{
		background-color: $jetti-dark-grey;

		h2
		{
			color: $jetti-orange;
		}

		p
		{
			color: $jetti-white;
		}
	}

	.image-page
	{
		background-color: $jetti-orange;
	}

	.fithPage
	{
		background-color: $jetti-dark-grey;
		p
		{
			color: $jetti-white;
		}
	}

	.eighthPage
	{
		padding-top: 8vw;
		padding-bottom: 8vw;
		background-color: $jetti-dark-grey;
		p
		{
			color: $jetti-white;
		}
	}
}

@media only screen and (min-width: 40.063em) {

button
{
	color: $jetti-white;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 3vw;
}

.full-page-header
{

	height: 100vh;
	padding-top: 18vh;

	.small-main-logo
	{
		font-family: $jetti-font-main;
		font-size: 28vw;
		line-height: 32vw;

	  
	}

	.tag-line, .secondary-tag-line
	{	
		color: $jetti-white;
		display: block;
	}

	.tag-line
	{
		font-weight: 400;
		font-size: 7vw;
		line-height: 8vw;
		padding-top: 3vh;
	}

	.secondary-tag-line
	{
		font-weight: 300;
		font-size: 4vw;
		line-height: 5vw;
		margin-bottom: 8vw;
	}

	.advance
	{
		display: block;
		margin-top: 7vh;
	}
}

main
{
	.pages
	{

		padding: 0;
		padding-top: 4vw;
		padding-bottom: 6vw;

		.icon-image
		{
			margin-bottom: 2vh;
		}

		h2
		{
			font-size: 5vw;
			line-height: 5.5vw;
			font-weight: 600;
			font-style: italic;
			color: $jetti-orange;
			padding-bottom: 1vw;
		}

		h3
		{
			font-size: 4vw;
			line-height: 5vw;
			font-weight: 500;
			font-style: italic;
			color: $jetti-font-other - 200;
			padding-bottom: 0vw;
			margin-bottom: 0;
		}

		p
		{
			font-size: 4vw;
			line-height: 5vw;
			font-weight: 300;
			display: inline-block;
			color: $jetti-light-grey;
		}

		.accent
		{
			font-weight: 900;
			font-style: italic;
			color: $jetti-orange;
		}
	}


	.secondpage
	{
		background-color: $jetti-white;

		.bulletPoint
		{
			padding-top: 2vh;
		}

		h2
		{
			color:$jetti-orange;
		}
		h3
		{
			color: $jetti-dark-grey;
		}
		p
		{
			color:$jetti-light-grey;
		}
	}

	.thirdPage
	{
		background-color: $jetti-dark-grey;

		h2
		{
			color: $jetti-orange;
		}

		p
		{
			color: $jetti-white;
		}
	}

	.fithPage
	{
		background-color: $jetti-dark-grey;
		p
		{
			color: $jetti-white;
		}
	}

	.eighthPage
	{
		padding-top: 8vw;
		padding-bottom: 8vw;
		background-color: $jetti-orange;

		h2
		{
			color: $jetti-white;
			padding-bottom: 4vw
		}

		p
		{
			color: $jetti-white;
		}

		button
		{
		}
	}
}
} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) {

button
{
	color: $jetti-white;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1vw;
}

.full-page-header
{

	height: 100vh;
	padding-top: 25vh;

	.small-main-logo
	{
		font-family: $jetti-font-main;
		font-size: 10vw;
		line-height: 1vw;
	}

	.tag-line, .secondary-tag-line
	{	
		color: $jetti-white;
		display: block;
	}

	.tag-line
	{
		font-weight: 400;
		font-size: 3vw;
		padding-top: 2vw;
	}

	.secondary-tag-line
	{
		font-weight: 300;
		font-size: 1.25vw;
		padding-top: 0vw;
		line-height: .25vw;
	}

	.advance
	{
		display: block;
	}
}

main
{
	.pages
	{

		padding: 0;
		padding-top: 4vw;
		padding-bottom: 6vw;

		.icon-image
		{
			margin-bottom: 2vh;
		}

		h2
		{
			font-size: 3vw;
			line-height: 3vw;
			font-weight: 600;
			font-style: italic;
			color: $jetti-orange;
			padding-bottom: 1vw;
		}

		h3
		{
			font-size: 2.25vw;
			line-height: 2.75vw;
			font-weight: 500;
			font-style: italic;
			color: $jetti-font-other - 200;
			padding-bottom: 0vw;
			margin-bottom: 0;
		}

		p
		{
			font-size: 2.25vw;
			line-height: 2.75vw;
			font-weight: 300;
			display: inline-block;
			color: $jetti-light-grey;
		}

		.accent
		{
			font-weight: 900;
			font-style: italic;
			color: $jetti-orange;
		}
	}


	.secondpage
	{
		background-color: $jetti-white;

		.bulletPoint
		{
			padding-top: 2vh;
		}

		h2
		{
			color:$jetti-orange;
		}
		h3
		{
			color: $jetti-dark-grey;
		}
		p
		{
			color:$jetti-light-grey;
		}
	}

	.thirdPage
	{
		background-color: $jetti-dark-grey;

		h2
		{
			color: $jetti-orange;
		}

		p
		{
			color: $jetti-white;
		}
	}

	.fithPage
	{
		background-color: $jetti-dark-grey;
		p
		{
			color: $jetti-white;
		}
	}

	.eighthPage
	{
		padding-top: 8vw;
		padding-bottom: 8vw;
		background-color: $jetti-orange;

		h2
		{
			color: $jetti-white;
			padding-bottom: 4vw
		}

		p
		{
			color: $jetti-white;
		}

		button
		{
		}
	}
}

} /* min-width 1025px, large screens */
