body
{
	height: 100vh;
	background: linear-gradient($jetti-lightest-grey, $jetti-lightest-grey);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, span
{
	font-family: $jetti-font-other;
}

/*
header.contain-to-grid
{
	background: $jetti-orange;


	.top-bar
	{
		background-color: $jetti-orange;
	}

	.top-bar-section li
	{
		background: $jetti-orange;

		&:hover
		{
			background: $jetti-orange-darker;
		}
	}

	.jetti-logo-main
	{
		font-family: $jetti-font-main;
	}
}
*/

/* SVG */

svg
{
	transition: padding-top 0.25s ease;
	padding-top: 0em;

	.polygon-1
	{
		fill: $jetti-orange + 175;
	}
	.polygon-2
	{
		fill: $jetti-orange - 25;
	}
	.polygon-3
	{
		fill: $jetti-orange - 45;
	}

	&:hover
	{	
		transition: padding-top 0.5s ease;
		padding-top: .2em;
	}

}


.full-page-header
{
	background-color: $jetti-orange;
	height: 100vh;
	padding-top: 10vh;

	.small-main-logo
	{
		font-family: $jetti-font-main;
		font-size: 35vw;
		line-height: 37vw;
		color: $jetti-white;
		margin: 0;
		padding: 0;
	}

	.tag-line
	{
		font-weight: 400;
		color: $jetti-white;
		text-transform: uppercase;
		font-size: 5vw;
		line-height: 7vw;
		padding-top: 3vh;
		display: block;

	}

	.advance
	{
		font-size: 5vw;
		line-height: 7vw;
		display: block;
		margin-top: 7vh;
		margin-bottom: 3vh;
		color: $jetti-white;
	}

	
}

main
{

	.advance-arrow
	{
		display: inline-block;
		border: 3px solid $jetti-orange;
		padding: 1em .5em 0 .5em;
		border-radius: 2em;
		background-color: #333;
	}

	.pages
	{
		height: 96vh;
		padding: 0;

		h1
		{
			font-size: 7vw;
			line-height: 9vw;
			font-weight: 300;
			color: $jetti-orange;
			font-style: italic;
		}

		h2
		{
			font-size: 7vw;
			line-height: 9vw;
			font-weight: 300;
			font-style: italic;
			color: $jetti-font-other;
		}

		p
		{

			font-size: 4vw;
			line-height: 5.5vw;
			font-weight: 300;
			display: inline-block;

		}

		.accent
		{
			font-weight: 900;
			font-style: italic;
			color: $jetti-orange;
		}
	}

	/* Background Images */
	.secondpage
	{
		/*
		background: url(../img/restaurant-background-blur.png) no-repeat center center fixed;
		background-color: $jetti-orange;
		background-blend-mode: screen;
		*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

footer
{
	background-color: pink;
}