$jetti-font-header: 'Open Sans Condensed', sans-serif;
$jetti-font-main: 'Open Sans', sans-serif;
$jetti-font-logo-main: 'Sansita One', cursive;
$jetti-font-logo-secondary: 'Josefin Sans', sans-serif;