
$jetti-orange: #FF5722;
$jetti-orange-darker: #E64A19;

$jetti-white: #fff;
$jetti-black: #222;
$jetti-dark-grey: #333;
$jetti-light-grey: #666;
$jetti-lighter-grey: #ccc;
$jetti-lightest-grey: #eee;